<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>FINANE</title>
    <script src="/Javascript/jquery.js" type="text/javascript"></script>
    <script src="/Javascript/index.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/Styling/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  
<body>
  
<!--    NAVBAR    -->
  
  <div class="topnav" id="myTopnav">
      <a class="navbar-brand" href="../index.html">| FINANE |</a>
      <a class="nav-link" href="../index.html">Home</a>
      <a class="nav-link" href="/Layout/about.html">About</a>
      <a class="nav-link active" href="/Layout/blog.html">Blog</a>
      <a class="nav-link" href="/Layout/contact.html">Contact</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  
<!--   SECTION 1   -->
  
  <div class="content-header container-fluid">
    <div class="blog-content">
      <h2 class="blog-header">CONTENT</h2>
    </div>
  </div>
  
<!--  SECTION 2   -->
  
  <div class="post-container-fluid">
      <div class="header-container">
        <h3 class="post-header">Latest Posts</h3>
      </div>
      <div class="card-holder-1">
        <div class="card" href="/Layout/blog-posts/post1.html">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1518186285589-2f7649de83e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80" alt="Card img">
          <div class="card-body">
            <h5 class="card-title">Personal Finance: Refresher</h5>
            <p class="card-text">In this post we'll revisit the 7 essential components of a successul financial future.</p>
            <a type="text" class="post-btn" href="/Layout/post.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="card-holder-2">
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1500496733680-167c3db69389?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1278&q=80" alt="Card img">
          <div class="card-body">
            <h5 class="card-title">Building Your Wealth Plan</h5>
            <p class="card-text">A well built wealth plan is a requirement if you expect to grow and keep a meaningful net worth.</p>
            <a type="text" class="post-btn" href="/Layout/post.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="card-holder-3">
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1404&q=80" alt="Card img">
          <div class="card-body">
            <h5 class="card-title">Debunking Company Equity</h5>
            <p class="card-text">Restricted Stock Units, Non-Quals, and Incentive Stock Options: all you need to know.</p>
            <a type="text" class="post-btn" href="/Layout/post.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="card-holder-4">
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1542744173-05336fcc7ad4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1382&q=80" alt="Card img">
          <div class="card-body">
            <h5 class="card-title">What Allocation Is Right For Me?</h5>
            <p class="card-text">How much of your portfolio should be in stocks, bonds and cash.</p>
            <a type="text" class="post-btn" href="/Layout/post.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="card-holder-5">
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Card img">
          <div class="card-body">
            <h5 class="card-title">Trusts: Does My Family Need One?</h5>
            <p class="card-text">Esate planning is essential for everyone. Here we'll talk about how to protect your loved ones.</p>
            <a type="text" class="post-btn" href="/Layout/post.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="card-holder-6">
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Card img">
          <div class="card-body">
            <h5 class="card-title">When Do I Need An Advisor?</h5>
            <p class="card-text">Performance. Fees. Auxiliary Services. We'll cover it all in our advisor necessity guide. </p>
            <a type="text" class="post-btn" href="/Layout/post.html">Read More</a>
          </div>
        </div>
      </div>
    </div>
  
<!--    FOOTER    -->
    
  <div class="footer">
    <div class="foot-wrapper">
      <a class="foot-brand">| FINANE |</a> 
      <a class="nav-link" href="/Layout/about.html">About</a>
      <a class="nav-link" href="/Layout/blog.html">Blog</a>
      <a class="nav-link" href="/Layout/contact.html">Contact</a>
      <div class="soc-med-wrapper">
        <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
        <a href="https://www.twitter.com" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin"></a>
      </div>
    </div>
  </div>
  
</body>
</html>