<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>FINANE</title>
    <script src="/Javascript/jquery.js" type="text/javascript"></script>
    <script src="/Javascript/index.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/Styling/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  
<body>
  
  <!--    NAVBAR    -->
  
  <div class="topnav" id="myTopnav">
      <a class="navbar-brand" href="../index.html">| FINANE |</a>
      <a class="nav-link" href="../index.html">Home</a>
      <a class="nav-link" href="/Layout/about.html">About</a>
      <a class="nav-link" href="/Layout/blog.html">Blog</a>
      <a class="nav-link active" href="/Layout/contact.html">Contact</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  
<!--   SECTION 1   -->
  
  <div class="contact container-fluid">
    <div class="contact-img-wrapper">
      <div class="contact-display">
        <h3 class="contact-header">Contact Us</h3>
      </div>
    </div>
    <div class="container">
      <form action="action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="subject">Message</label>
        <textarea id="subject" name="subject" placeholder="Your message here..."></textarea>
        <input class="btn btn-primary" type="submit" value="Submit">
      </form>
    </div>
  </div>
  
<!--   FOOTER   -->
  
  <div class="footer">
      <div class="foot-wrapper">
        <a class="foot-brand">| FINANE |</a> 
        <a class="nav-link" href="/Layout/about.html">About</a>
        <a class="nav-link" href="/Layout/blog.html">Blog</a>
        <a class="nav-link" href="/Layout/contact.html">Contact</a>
        <div class="soc-med-wrapper">
          <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
          <a href="https://www.twitter.com" target="_blank" class="fa fa-twitter"></a>
          <a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin"></a>
        </div>
      </div>
    </div>
  
</body>
</html>