/*     NAVBAR    */

.navbar {
  background-color: #e3f2fd;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand{
  text-transform: uppercase;
  font-size: 35px;
}

ul.navbar-nav li {
  padding: 5px 15px;
}

/*    SECTION 1    */

div.contact.container-fluid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-self: center;
}

div.contact-img-wrapper {
  display: flex;
  background-image: url(https://images.unsplash.com/photo-1448932284983-0c7b152eba33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-start;
  align-items: center;
}

h3.contact-header {
  font-size: 45px;
  font-weight: 300;
  padding-left: 30px;
  padding-top: 240px;
  position: relative;
}

div.contact-wrapper {
  align-self: center;
  padding: 10px 35px;
  margin-top: 55px;
  margin-bottom: 55px;
  border-radius: 25px;
}

div.contact-header-wrapper {
  padding: 20px 25px;
}

h3.contact-title {
  color: #617387;
  font-weight: 400;
  font-size: 34px;
  text-shadow: 1px 1px 2px #c8c8c8;
  text-align: center;
}

div.contact-form-wrapper {
  margin: 15px 0px;
  padding: 5px 20px;
}

div.row {
  margin-bottom: 25px;
}

#message {
  word-wrap: break-word;
  height: 150px;
}

/*    FOOTER    */

.footer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 35px 45px;
  background-color: #e3f2fd;
}

.foot-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 20%);
  text-align: center;
}

.foot-brand {
  text-transform: uppercase;
  font-size: 25px;
}

.nav-link {
  color: rgba(0,0,0,0.5);
}

.soc-med-wrapper .fa {
  padding: 20px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.55;
}

/*    RESPONSIVE    */

@media (max-width: 900px) {
  
  div.contact.container-fluid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  align-self: center;
  grid-row-gap: 40px;
  }
  
  div.contact-wrapper {
    margin-top: 10px;
    margin-bottom: 95px;
  }
  
  h3.contact-header {
  font-size: 40px;
  font-weight: 300;
  padding-top: 140px;
  padding-left: 33%;
  position: relative;
  }
  
}